<?xml version='1.0' encoding='ASCII'?>
<HORSE>
  <msgbus>
    <address>ws://localhost:10282/horse/message</address>
    <sender_id>hel/local_execution/ROSplanner</sender_id>
    <!-- <sender_id>hel/local_execution/humagent_step_execution</sender_id> -->
    <sender_id_safety>hel/local_execution/humagent_safety</sender_id_safety>
  </msgbus>
</HORSE>

        
